<div class="columns">
  <div class="column">
    <h2 class="subtitle">Room List</h3>
  </div>
  <div class="column">
  </div>
  <div class="column">
    <div class="buttons">
      <%# <button class="button is-primary">Search Customers</button>   %>
      <%= link_to("Search Customers", customers_path(), :class => "button is-primary is-outlined") %>
    </div>

  </div>
</div>
<div class="columns">
  <div class="column">
    <h3 class="subtitle">Room No</h3>
  </div>
  <div class="column">
    <h3 class="subtitle">Room Type</h3>
  </div>
    <div class="column">
    <h3 class="subtitle">Price</h3>
  </div>

  <div class="column">
    <h3 class="subtitle">Checkin/Checkout</h3>
  </div>
  <div class="column">
    <h3 class="subtitle">Reservation Details</h3>
  </div>
</div>
<%= render partial: "room", collection: @rooms %>

